@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main,
#__next {
  height: 100%;
  padding: 0;
  margin: 0;

  @apply text-base font-light;
}

@layer base {
  h1 {
    @apply text-5xl	font-bold tracking-tight;
  }

  h2 {
    @apply text-4xl	font-bold tracking-tight;
  }

  h3 {
    @apply text-3xl	font-bold tracking-tight;
  }

  h4 {
    @apply text-2xl	font-bold tracking-tight;
  }

  h5 {
    @apply text-xl font-bold tracking-tight;
  }

  h6 {
    @apply text-lg font-bold tracking-tight;
  }

  p {
    @apply text-gray-900 font-light text-sm;
  }

  a.link {
    transition: color 0.5s ease;
    text-decoration: underline;
    color: blue;
  }

  a.link:hover {
    color: #0070f3;
  }

  a.social {
    transition: all 0.5s ease;
    background-color: #212121;
    color: white;
    text-decoration: underline;
  }

  a.social:hover {
    background-color: #dedede;
    color: #212121;
  }

  a.cool {
    transition: all 0.5s ease;
    background-color: #fefefe;
    text-decoration: underline;
  }

  a.cool:hover {
    background-color: #dedede;
    color: #212121;
  }
}
